CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*~
[#]*[#]
.\#*
/Default
.ditz-config
.settings/
.project
.cproject
Debug/
__pycache__/
CTestTestfile.cmake
documentation/html/
documentation/latex/
private.cfg
